<!-- This is the HTML for a simple Post card using materialize css -->
{% load static %}
<!-- humanize allows us to use naturaltime -->
{% load humanize %}

{% block content %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/users/post.css' %}">

<div class="card darken-1 hoverable small">
  <div class="card-content ">

    <div class="header">
      <span><img class="org-image" src="{{ organization.image.url }}"></span>
      <span class="card-title">{{post.organization.name}}</span>
      <span class="time">{{post.created|naturaltime}}</span>
    </div>

    <p class="flow-text">
      <ul>{{post.text}}</ul>
    </p>

    <div class="card-action">
      <i class="material-icons">thumb_up</i>
      <i class="material-icons">comment</i>
      <a class="waves-effect waves-light" href="{% url 'view-post' organization.name post.id %}">View Post</a>
      {% if request.user == post.author %}
      <a class="waves-effect waves-light right" href="{% url 'delete-post' organization.name post.id %}">Delete Post</a>
      <a class="waves-effect waves-light right" href="{% url 'update-post' organization.name post.id %}">Edit Post</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}
