body {
    background:url(/static/images/user_pics/login-signup-background.svg) no-repeat;
    background-color:var(--lightgreen);
    background-size: cover;
    height:100vh;
}

h4 {
    color: var(--darkgrey);
}

.form-block{
    background:white;
    padding:10%;
    border-radius:20px;
    box-shadow:0px 0px 15px grey;
}

.nav-link {
    color: var(--darkgreen);
}

.nav-item#google-fb {
    display:flex;
    align-items:center;
    justify-content: center;
}

.nav-item#sign-up {
    margin-top:2em;
    text-align: center;
}

.nav-link#social-link {
    margin-left:5px;
}