h1 {
    text-align: center;
    color: #4D4D4D;
    font-weight: 600;
    font-size: 36px;
}

h2 {
    text-align: center;
    color: #39AF73;
    font-size: 20px;
}

h3 {
    text-align: right;
    color: #4D4D4D;
    font-size: 16px;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.cover-picture {
    display: block;
    margin: auto;
    width: 800px;
    height: 400px;
    border-radius: 20px;
}

.current-donations {
    float: left;
    font-weight: 500;
    font-size: 20px;
}

.target-goal {
    float: right;
    font-size: 20px;
}

.percent-funded {
    float: left;
}

.backers {
    float: right;
}

.progress {
    height: 20px;
    border-radius: 50px;
    background: #E8F5EF;
}

.progress .determinate {
    background: #318D5E;
}

.tracker {
    padding-bottom: 5em;
}

.donate-btn {
    display: block;
    margin: auto;
    width: 300px;
    background: #EFBF57;
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
}

.donated-btn {
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
}