{% extends 'main.html' %}
{% load humanize %}
{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Owned by {{organization.owner}}</h5>
            <hr>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Organization Information</h5>
            <hr>
            <p><strong>Organization Name:</strong> {{organization.name}}</p>
            <p><strong>Description:</strong> {{organization.description}}</p>
            <img src="{{ organization.image.url }}" >
        </div>
    </div>
</div>

{% endblock %}
