{% extends 'main.html' %}
{% load static %}

{% block content %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/users/faq.css' %}">

<div class="valign-wrapper center-align">
<div class="container-hero" id="hero">
    <div class="row">
        <div class="col s12">
    <h4 class="center-align">Bring your <span>ideas</span> to life</h4>
    <!-- i changed the button from "start a campaign" to "create an organization" -->
    <a class="btn btn-yellow" href="{% url 'create-organization' %}">Create an organization</a>
</div>
</div>
</div>
</div>

<div class="valign-wrapper center-align">
<div class="container" id="cards">
    <div class="row">
    <div class="col l6">
        <a href="#"><img class="responsive-img" src="{% static 'images/faq_pics/image1.png' %}" alt="image2"></a>
        <p>Tips for a successful campaign</p>
    </div>

    <div class="col l6">
        <a href="#"><img class="responsive-img" src="{% static 'images/faq_pics/image2.png' %}" alt="image1"></a>
        <p>Connect with entrepreneurs</p>
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h5>What do I need to know?</h5>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div> <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h5>How can I get supporters?</h5>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div> <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h5>What do I need for my campaign?</h5>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div> <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h5>How much work do I have to do?</h5>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
{% endblock %}