{% extends 'main.html' %}
{% load humanize %}
{% load static %}


{% block content %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/users/home_page.css' %}">

<ul id="slide-out" class="sidenav sidenav-fixed hidden-on-large-only">
  <li><a  href="#"><span class="white-text">Online Programs</span></a></li>
  <li><a  href="#"><span class="white-text">Grow Your Network</span></a></li>
  <li><a  href="#"><span class="white-text">About Crowdfunding</span></a></li>
  <li><a  href="#"><span class="white-text">Resources & Tips</span></a></li>
</ul>

  {% if request.user.is_authenticated %}
  <h4>Recommended Posts</h4>
  <br>
  {% for post in interested_posts %}
    <div class="col s12 m4 offset-l1">
      {% include "posts/post.html" %}
    </div>
  {% endfor %}

  {% endif %}
  {% if request.user.is_anonymous %}

    <section class="section center">
      <div class="container">
        <div class="card-panel">
          <h4 class="title">Discover new ideas on <span style="color: #39AF73">Grasshopperfund</span></h4>
          <h6 class="description">Crowdfunding for this generation.</h4>
          <div class="buttons" >
            <a class="sign-in btn" href="{% url 'login' %}">Sign in</a>
            <a class="join btn" href="{% url 'register' %}">Join us today</a>
          </div>
        </div>
      </div>
    </section>

    <div class="popular-campaigns">
      <h5>Popular Campaigns</h5>
      <div class="row">
      {% for campaign in campaigns %}
        <div class="col s10 m3">
          <a class="link" href="{% url 'view-campaign' campaign.creator campaign.title %}">
            <div class="card medium hoverable">
              <div class="card-image">
                <img src="{{ campaign.image.url }}">
              </div>
              <div class="card-content">

                <div class="progress">
                  <div class="determinate" style="width: {{ campaign.percent_funded }}%"></div>
                </div>

                <span class="card-title">{{campaign.title}}</span>
                <p class="organization">by {{ campaign.organization.name }}</p>
                <span class="days-left"><i class="material-icons">access_time</i> {{campaign.days_left}} days left</span>
              </div>
              <div class="card-action">
                {% if request.user == campaign.creator %}
                  <a href="{% url 'update-campaign' campaign.id %}">Update</a>
                  <a href="{% url 'delete-campaign' campaign.id %}">Delete</a>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>


  {% endif %}

{% endblock %}
{% endblock %}
