{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/users/profile.css' %}">

<div class="container">
  </br><a class="btn btn-outline-danger" href="{% url 'startsmart-home' %}">Back</a>
  <div class="title-header">
    <div class="col s12">
      <span><div class="img-circle"><img class="profile-img" src="{{ profile.image.url }}"></div></span>
    </div>
    <div class="col s12">
      <h1>{{profile.user.username}}</h1>
      <h2>{{profile.email}}</h2>
    </div>
  </div>
  <a href="{% url 'update-profile' %}" class="btn btn-outline-info">Edit Profile</a>

  <h5>Donations Made</h5>
  <div class="row">
      <div class="col-md">
          {% for donation in donations %}
              <div class="card card-body">
                  <p>{{ donation }}</p>
              </div>
          {% endfor %}
      </div>
  </div>

{% endblock %}
{% endblock %}
