{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
<div class="media">
    <img class="rounded-circle account-img" src='{{ profile.image.url }}' width="300" height="300">
    <div class="media-body">
        <p class="account-heading">Username: {{profile.user.username}}</p>
        <p class="text-secondary">Email: {{profile.email}}</p>
        <a href="{% url 'update-profile' %}" class="btn btn-outline-info">Edit Profile</a>
        <a class="btn btn-outline-danger" href="{% url 'startsmart-home' %}">Back</a>
    </div>

    <h5>Donations Made</h5>
    <div class="row">
        <div class="col-md">
            {% for donation in donations %}
                <div style="outline: 2px solid lightskyblue;" class="card card-body">
                    <p style="padding:10px;">{{ donation }}</p>
                </div>
            {% endfor %}
        </div>
    </div>


</div>


{% endblock content%}
