{% extends 'users/main.html' %}
{% load humanize %}
{% load static %}


{% block content %}

<!-- {% if request.user.is_authenticated %}
        <div class="row text-center">
        <div class="col-md-12 text-center">
            <h2>Membership</h2>
            <h3>Please select which membership you want to select</h3>
        </div>
        <div class="col-md-4">
            <!--This column displays beginner membership as bronze star-->
<!--            <img src="{% static 'images/bronze-star-md.png' %}" width="200" height="200">
             <h4 class="service-heading">Begineer</h4>
             <h3>Buy here</h3>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/silver_star.png' %}" width="200" height="200">
             <h4 class="service-heading">Pro</h4>
             <h3>Buy here</h3>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/gold_star.png' %}" width="200" height="200">
            <h4 class="service-heading">Expert</h4>
             <h3>Buy here</h3>
        </div>

        </div>
    {% endif %} --> -->

<div style="margin-top:10px;" class="container">
    <div class="row">
        {% for campaign in campaigns %}
            <div class="col-lg-4">
                <div style="margin-bottom:10px;" id="box-element" class="border border-info">
                    <h2 style="margin-left:10px;">{{campaign.title}}</h2>
                    <i style="margin-left:10px;">By {{campaign.user}}</i>
                    <hr>
                    <h5 style="margin-left:10px;" class="view-money">Target: ${{campaign.target_money|intcomma}}</h5>
                    <!-- <img id="thumbnail" src="{{campaign.imageUrl}}"> -->
                    <i><h6 style="margin-left:10px;" class="view-money">Current: ${{campaign.current_money|intcomma}}</h6></i>
                    <hr>
                    <small style="margin-left:10px;">Number of Investors: <strong style="color:red;">{{campaign.num_of_backers}}</strong></small>
                    <hr>
                    {% if request.user == campaign.user %}
                        <a style="margin-bottom: 10px;  margin-left:10px;" class="btn btn-outline-info" href="{% url 'update-campaign' campaign.id %}">Update</a>
                        <a style="margin-bottom: 10px;  margin-left:10px;" class="btn btn-outline-danger" href="{% url 'delete-campaign' campaign.id %}">Delete</a>
                    {% else %}
                        <a style="margin-bottom: 10px;  margin-left:10px;" class="btn btn-outline-secondary" href="{% url 'view-campaign' campaign.id %}">View More</a>
                        <!-- <a style="margin-bottom: 10px;  margin-left:10px;" class="btn btn-outline-info" href="{}">Thumbs Up!</a> -->
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
