{% extends 'users/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    <div id="div_id_username" class="form-group">
        <label for="id_username" class=" requiredField">Username</label>
        <div class="">
            <input type="text" name="username" maxlength="150" autofocus class="textinput textInput form-control" required id="id_username">
        </div>
    </div>
    <div id="div_id_email" class="form-group">
        <label for="id_email" class="">Password</label>
        <div class="">
            <input type="password" name="password" maxlength="254" class="emailinput form-control" id="id_email">
        </div>
    </div>
    <input class="btn btn-outline-info" type="submit" name="Subit">
</form>

{% endblock %}
