{% extends 'users/main.html' %}
{% load humanize %}
{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>User: {{campaign.user}}</h5>
            <hr>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Campaign Information</h5>
            <hr>
            <p><strong>Project Name:</strong> {{campaign.title}}</p>
            <p><strong>Target Goal:</strong> ${{campaign.target_money|intcomma}}</p>
            <p><strong>Current Donations:</strong> ${{campaign.current_money|intcomma}}</p>
            <p><strong>Description:</strong> {{campaign.description}}</p>
            <p><strong>Days Left:</strong> {{campaign.days_left}}</p>
            <p><strong>Number of Investors:</strong> {{campaign.num_of_backers}}</p>
            <!-- <p><strong>Image:</strong> {{campaign.imageUrl}}</p> -->
            <button type="button" class="btn btn-outline-info">Donate</button>
        </div>
    </div>
</div>

{% endblock %}
