{% extends 'main.html' %}
{% load humanize %}
{% load static %}

{% block content %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/users/explore.css' %}">

<hr>
  <div class="row">
    {% for organization in organizations %}
    <div class="col s12 m3">
      <a class="link" href="{% url 'view-organization' organization.name %}">
        <div class="card hoverable medium">
          <div class="card-image">
            <img class="activator responsive" src="{{ organization.image.url }}" >
          </div>
          <div class="card-content ">
            <span class="card-title activator">{{organization.name}}</span>
            <p class="org-name">By {{organization.owner.username}}</p>
          </div>
          {% if request.user == organization.owner %}
            <div class="card-action">
              <a href="{% url 'update-organization' organization.name %}">Update</a>
              <a href="{% url 'delete-organization' organization.name %}">Delete</a>
            </div>
          {% endif %}
        </div>
      </a>
    </div>
      {% endfor %}
  </div>


{% endblock %}
{% endblock %}
