{% extends 'main.html' %}
{% load humanize %}
{% block content %}
{% load material_form %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Owned by {{organization.owner}}</h5>
            <hr>
        </div>
        <!-- The create campaign button is only available to the organization's owner -->
        {% if request.user == organization.owner %}
          <li class="nav-item">
              <a class="btn btn-info" href="{% url 'create-campaign' organization.name %}">Create Campaign</a>
          </li>
        {% endif %}
    </div>

    <!-- Organization information -->
    <div class="col-md">
        <div class="card card-body">
            <h5>Organization Information</h5>
            <hr>
            <p><strong>Organization Name:</strong> {{organization.name}}</p>
            <p><strong>Description:</strong> {{organization.description}}</p>
            <img src="{{ organization.image.url }}" >

            <!-- Add update and delete organization options -->
            {% if request.user == organization.owner %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'update-organization' organization.name %}">Edit Organization</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'delete-organization' organization.name %}">Delete Organization</a>
              </li>
            {% endif %}
        </div>
    </div>

    {% if organization.owner == request.user %}
        <div class="col-md">

          <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
              {% form form=post_form %}{% endform %}
              <input class="btn btn-info" type="submit" name="Submit">
              <script type="text/javascript">
                  let author = '{{request.user.id}}';
                  let organization = '{{organization.id}}';
                  document.getElementById('post_author').value = author;
                  document.getElementById('post_organization').value = organization;
              </script>

        </div>
    {% endif %}

    <!-- posts are displayed here -->
    <div class="col-md">

      <p>Posts:<p>
      {% for post in organization.all_posts %}

      <!-- each post uses materializecss card class -->
      {% include "posts/post.html" %}

      {% endfor %}
    </div>

    <!-- campaigns are displayed here -->
    <div class="row">
      <p>Campagins:<p>
      {% for campaign in organization.all_campaigns %}
        <div class="col s10 m3">
          <a class="link" href="{% url 'view-organization' organization.name %}">
            <div class="card medium hoverable">
              <div class="card-image">
                <img src="{{ campaign.image.url }}">
              </div>
              <div class="card-content">
                {% for title, progress in progress_dict.items %}
                {% if title == campaign.title %}
                  <div class="progress">
                    <div class="determinate" style="width: {{ progress }}%"></div>
                  </div>
                  {% endif %}
                {% endfor %}
                <span class="card-title">{{campaign.title}}</span>
                <p class="organization">by {{ campaign.organization.name }}</p>
                <span class="days-left"><i class="material-icons">access_time</i> {{campaign.days_left}} days left</span>
              </div>
              <div class="card-action">
                {% if request.user == campaign.creator %}
                  <a href="{% url 'update-campaign' campaign.id %}">Update</a>
                  <a href="{% url 'delete-campaign' campaign.id %}">Delete</a>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
