{#{% extends 'main.html' %}#}
{#{% load material_form %}#}
{#{% block content %}#}
{##}
{#<div class="row">#}
{#    <div class="col m8">#}
{##}
{#      <form method="POST" action="" enctype="multipart/form-data">#}
{#          {% csrf_token %}#}
{#          {% form form=form%}{% endform %}#}
{#          <input class="btn btn-info" type="submit" name="Submit">#}
{#          <script type="text/javascript">#}
{#              let name = '{{request.user.id}}';#}
{#              document.getElementById('element').value = name;#}
{#          </script>#}
{##}
{#    </div>#}
{#</div>#}
{##}
{#{% endblock %}#}
