{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-info" type="submit" name="Submit">
                <script type="text/javascript">
                    let creator = '{{request.user.id}}';
                    document.getElementById('element').value = creator;
                </script>
            </form>
        </div>
    </div>
</div>

{% endblock %}
