{% extends 'main.html' %}
{% load humanize %}
{% load static %}

{% block content %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/users/explore.css' %}">

<!-- Populate list of tags to filter by -->
    <!-- filters are made by adding them as a query parameter -->
{#<div class = "col s2">#}
{#  {% for tag in all_tags %}#}
{##}
{#  <!-- filters are made by adding them as a query parameter -->#}
{#   <a class="btn waves-effect waves-teal btn-flat" href="{% url 'browse-campaigns' %}?tag={{ tag.name | urlencode }}">#}
{#       #{{ tag.name }}</a>#}
{#  {% endfor %}#}
{#</div>#}

<!-- Populate list of campaigns for each tag -->
{% for tag in selected_tags %}
  <br>
  <p> 
    <strong>{{tag.name}}</strong>
  </p>
  <br>
    <hr>
  <div class="row">
  <div class = "col s2">
  {% for tag in all_tags %}

  <!-- filters are made by adding them as a query parameter -->
   <a class="btn waves-effect waves-teal btn-flat" href="{% url 'browse-campaigns' %}?tag={{ tag.name | urlencode }}">
       #{{ tag.name }}</a>
      <div class="row"></div>
  {% endfor %}
</div>

      {% for campaign in tag.all_campaigns %}
      <div class="col s10 m3">
        <a class="link" href="{% url 'view-campaign' campaign.creator campaign.title %}">
          <div class="card medium hoverable">
            <div class="card-image">
              <img src="{{ campaign.image.url }}">
            </div>
            <div class="card-content">

              <div class="progress">
                <div class="determinate" style="width: {{ campaign.percent_funded }}%"></div>
              </div>

              <span class="card-title">{{campaign.title}}</span>
              <p class="organization">by {{ campaign.organization.name }}</p>
              <span class="days-left"><i class="material-icons">access_time</i> {{campaign.days_left}} days left</span>
            </div>
            <div class="card-action">
              {% if request.user == campaign.creator %}
                <a href="{% url 'update-campaign' campaign.id %}">Update</a>
                <a href="{% url 'delete-campaign' campaign.id %}">Delete</a>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    
  </div>
{% endfor %}

{% endblock %}
{% endblock %}
