{% extends 'main.html' %}
{% load humanize %}
{% load static %}

<!-- <link rel='stylesheet' href="{% static 'css/users/home_page.css' %}"> -->

<script>
    .button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
</script>

{% block content %}

{% if not request.user.is_authenticated %}
        <div class="row text-center">
        <div class="col-md-12 text-center">
            <h2 style="margin-top:10px;">Membership</h2>
        </div>
      <div class="col s12 m4">
            <!--This column displays beginner membership as bronze star-->
            <img src="{% static 'images/bronze-star-md.png' %}" width="200" height="200">
             <h4 class="service-heading">Beginner</h4>
             <a class="btn btn-yellow" href="">Learn More</a>
        </div>
        <div class="col s12 m4">
            <img src="{% static 'images/silver_star.png' %}" width="200" height="200">
             <h4 class="service-heading">Pro</h4>
             <a class="btn btn-outline-info" href="">Learn More</a>
        </div>
        <div class="col s12 m4">
            <img src="{% static 'images/gold_star.png' %}" width="200" height="200">
            <h4 class="service-heading">Expert</h4>
            <a class="btn btn-outline-info" href="">Learn More</a>
        </div>

        </div>
{% endif %}

<hr>
    <div class="row">
    <div class="col s12 m4">
        {% if number_of_campaigns != None %}
            <p><strong>There are {{number_of_campaigns}} Campaigns</strong></p>
        {% endif %}
    </div>
    </div>
  <div class="row">
  <div class = "col s2">
      {% for tag in tags %}
      <a class="btn waves-effect waves-teal btn-flat" href="{% url 'browse-campaigns' %}?tag={{ tag.name | urlencode }}">
       #{{ tag.name }}</a>
      <div class="row"></div>
      {% endfor %}
  </div>
    {% for campaign in campaigns %}
        <div class = "col s10 m3">
      <a class="link" href="{% url 'view-campaign' campaign.creator campaign.title %}">
        <div class="card medium hoverable">
          <div class="card-image">
            <img src="{{ campaign.image.url }}">
          </div>
          <div class="card-content">
            {% for title, progress in progress_dict.items %}
            {% if title == campaign.title %}
              <div class="progress">
                <div class="determinate" style="width: {{ progress }}%"></div>
              </div>
              {% endif %}
            {% endfor %}
            <span class="card-title">{{campaign.title}}</span>
            <p class="organization">by {{ campaign.organization.name }}</p>
            <span class="days-left"><i class="material-icons">access_time</i> {{campaign.days_left}} days left</span>
          </div>
          <div class="card-action">
            {% if request.user == campaign.creator %}
              <a href="{% url 'update-campaign' campaign.id %}">Update</a>
              <a href="{% url 'delete-campaign' campaign.id %}">Delete</a>
            {% endif %}
          </div>
        </div>
      </a></div>
    {% endfor %}
  </div>

    {% if number_of_campaigns != None %}
<div class="pagination">
    <span class="step-links">
        {% if page_res.has_previous %}
            <a href="?page=1&search_query={{ query_word }}">&laquo; first</a>
            <a href="?page={{ page_res.previous_page_number }}&search_query={{ query_word }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_res.number }} out of {{ page_res.paginator.num_pages }} campaigns
        </span>

        {% if page_res.has_next %}
            <a href="?page={{ page_res.next_page_number }}&search_query={{ query_word }}">next</a>
            <a href="?page={{ page_res.paginator.num_pages }}&search_query={{ query_word }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
        {% endif %}

  <!-- Compiled and minified CSS -->
{% endblock %}