{% extends 'main.html' %}
{% load humanize %}
{% load static %}

{% block content %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/users/view_campaign.css' %}">

<div class="container">
    <h1>{{campaign.title}}</h1>
    <a class="link" href="{% url 'view-organization' campaign.organization.name %}"><h2>by {{ campaign.organization.name }}</h2></a>
    <h3><i class="material-icons">access_time</i> {{campaign.days_left}} days left</h3>
    <img class="cover-picture" src="{{ campaign.image.url }}">
    <p>{{campaign.description}}</p>
    </br>

    <div class="tracker">
        <p class="current-donations">${{campaign.current_money|intcomma}}</p>
        <p class="target-goal">${{campaign.target_money|intcomma}}</p>
        <div class="progress">
            <div class="determinate" style="width: {{ bar_width }}%"></div>
        </div>
        <p class="percent-funded">{{ bar_width }}% funded</p>
        <p class="backers">{{campaign.num_of_backers}} backers</p>
    </div>
    {% if donor.count == 0 %}
        <a class="donate-btn btn-large" href="{% url 'make-donation' campaign.id %}">Back project</a>
    {% else %}
        <a class="donated-btn btn-large disabled">Already Backed!</a>
    {% endif %}
    </br>

</div>

{% endblock %}
{% endblock %}
